<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-md-12">
                <button mat-raised-button type="submit" class="btn btn-primary">Add Airline</button>
            </div>
            <div class="col-lg-3 col-md-12">
                <button mat-raised-button type="submit" class="btn btn-primary">Set Probabilities</button>
            </div>
            <div class="col-lg-3 col-md-12">
                <button mat-raised-button type="submit" class="btn btn-primary">Set arr/dep</button>
            </div>
            <div class="col-lg-3 col-md-12"></div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Airlines</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <th>ID</th>
                                    <th>Icao Code</th>
                                    <th>Name</th>
                                    <th>Carrier</th>
                                    <th>% Delayed</th>
                                    <th>% Cancelled</th>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let airline of airlines | async">
                                        <td *ngFor="let col of columns">
                                            {{airline[col]}}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
