<div class="main-content">
  <div class="container-fluid"></div>
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title ">Airlines</h4>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table">
                <thead class=" text-primary">
                  <th *ngFor="let col of columns">
                    {{col}}
                  </th>
                </thead>
                <tbody>
                <tr *ngFor="let flight of flights | async">
                  <td *ngFor="let col of columns">
                    {{flight[col]}}
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

