<div class="main-content">
  <div class="container-fluid">
<!--      <div class="row btn-dashboard">-->
<!--          <div class="col-lg-3 col-md-12">-->
<!--              <button mat-raised-button type="submit" class="btn btn-primary btn-generate">Generate Flights</button>-->
<!--          </div>-->
<!--          <div class="col-lg-3 col-md-12">-->
<!--              <button mat-raised-button type="submit" class="btn btn-primary btn-simulate">Simulate</button>-->
<!--          </div>-->
<!--          <div class="col-lg-3 col-md-12">-->
<!--              <button mat-raised-button type="submit" class="btn btn-danger btn-clear-simulation">Clear Simulation</button>-->
<!--          </div>-->
<!--          <div class="col-lg-3 col-md-12"></div>-->
<!--      </div>-->
      <div class="row">
          <div class="col-lg-12 col-md-12">
              <div class="card">
                  <div class="card-header card-header-warning">
                      <h4 class="card-title">Arrivals</h4>
                  </div>
                  <div class="card-body table-responsive">
                      <table class="table table-hover">
                          <thead class="text-warning">
                              <th *ngFor="let col of arrivalColumns">
                                  {{col}}
                              </th>
                          </thead>
                          <tbody>
                              <tr *ngFor="let arrival of apiResponse.arrivals">
                                  <td *ngFor="let col of arrivalColumns">
                                      {{arrival[col]}}
                                  </td>
                              </tr>
                          </tbody>
                      </table>
                  </div>
              </div>
          </div>
      </div>
      <div class="row">
          <div class="col-lg-12 col-md-12">
              <div class="card">
                  <div class="card-header card-header-warning">
                      <h4 class="card-title">Departures</h4>
                  </div>
                  <div class="card-body table-responsive">
                      <table class="table table-hover">
                          <thead class="text-warning">
                              <th *ngFor="let col of departureColumns">
                                  {{col}}
                              </th>
                          </thead>
                          <tbody>
                              <tr *ngFor="let departure of apiResponse.departures">
                                  <td *ngFor="let col of departureColumns">
                                      {{departure[col]}}
                                  </td>
                              </tr>
                          </tbody>
                      </table>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
